<!-- home page of the website -->
<!-- image -->
<!-- introduction to the purpose of the site -->



<!-- Indicators of where to click / what each page of the nav bar does -->

<!-- link to the site SOP -->
<!-- static load the base.html -->

{% extends 'backbone/base.html'%}

{% block content%}
<br><br>
<h1>Discover the Non-coding regions of Mycobacterium Tuberculosis  </h1>
<br><br>
<div class="explanation">
<p>While the annotations of the protein-codeing regions of Mycobacterium Tuberculosis (Mtb) is robust, the same cannot be said for its non-coding regions. 
    For previous decades, non-coding regions of Mtb have been largely overlooked, with it's influence of gene expression often poorly understood or underestimated. 
    Recent years however, have seen these regions thrust to the forefront with all its complexities and diversities the subject of vast yet often times isolated research.
    Through this website, we aim to display data obtained by the research of J.Stiens et al 2022 to as a means to collasce MTb non-coding RNA in one place and support efforts to fully annotate the MTb non-coding landscape. </p>
</div>
<br><br>
<a href= '{% url 'HowTo' %}'>How to use this website</a>


<!-- Arrow to point to this section -->
<!-- Drawing to fill up the white space -->

{% endblock%}