{% extends 'index.html'%}
{% block content%}
<p> We encourage visitors to take the time to explore the links provided below, for additional scientific background.</p>


<div id="SB_externallinks">
    <!-- A toggle a that reveals links to external resources -->
</div>
    <li><a href="https://github.com/SMaelyss/mscproject" target="_blank">Webapp Github</a></li>
  <li> <a href="https://onlinelibrary.wiley.com/doi/full/10.1111/mmi.14862" target="_blank"> Challenges in defining the functional
    non-coding expressed genome of members of the Mtb complex</a></li>
    <li> <a href="https://academic.oup.com/bioinformatics/article/36/3/966/5550627" target="_blank"> baerhunter: an R package for the discovery and analysis of expressed non-coding regions in bacterial RNA-seq data</a></li>
    <li> <a href="https://www.who.int/news-room/fact-sheets/detail/tuberculosis" target="_blank">WHO: Tuberculosis</a></li>
    <li> <a href="https://www.ncbi.nlm.nih.gov/nuccore/NC_000962.3" target="_blank">NIH: Mycobacterium tuberculosis H37Rv, complete genome</a></li>

<!-- PHD paper-->
<!-- PHD Git -->
<!-- BAERHUNTER paper -->
<!-- WHO TB -->
<!-- TB Genome fasta -->
<!-- Additional papers? -->
<!--  -->
<!--  -->
<!--  -->



















{% endblock%}