{% extends 'index.html'%}
{% block content%}

<!-- Description of this page -->

<p>
    This page serves to provide a thorough yet brief explaination of the research of which this website 
    uses as base, catering to both lay and scientific audiences. 
</p>

<p> 
   For links to additional scientific resources, please navigate to the Resource Gateway
</p>

<p>
    Mundane applications and reasonings:
    Tuberculosis is...
</p>   

<!-- --------------------------------------------------------------------------------------------------------------------------------- -->
<div id="lay">
    <!-- Button that exposes the description for a lay audience -->
    <h3>Lay audiences </h3>
    <p></p>
</div>


<br>
<br>


<div id="scientific">
    <!-- Button that exposes the description for a scientific audience -->
    <h3>Scientific audiences </h3>
    <p></p>
</div>


<br>
<br>




{% endblock%}