{% extends 'index.html'%}
{% block content%}

<!-- Description of this page -->

<p>
    This page serves to provide a thorough yet brief explaination of the research of which this website 
    uses as base, catering to lay audiences while the following papers cover scientific grounds. 
</p>
<li> <a href="https://onlinelibrary.wiley.com/doi/full/10.1111/mmi.14862" target="_blank"> Challenges in defining the functional
    non-coding expressed genome of members of the Mtb complex</a></li>
</div>

<p> 
   For links to additional scientific resources, please navigate to the Resource Gateway
</p>


<br>
<br>
<!-- --------------------------------------------------------------------------------------------------------------------------------- -->
<div id="lay">
    <!-- Button that exposes the description for a lay audience -->
    <h3>Lay audiences </h3>
    <p>
        The impact of tuberculosis in the world is large both past and present. While Mycobacterium tuberculosis (Mtb) is well researched, the efficacy and efficiency of current treatment plans are impeded by MTb's ability to lay dormant, adapt to changes in its environment and overcome the antibiotic effects of some drug medications. The areas of the MTb genetic code that do not directly make protein (non-coding regions) are well known grey areas in MTb research, and it is here where many scientists believe the mechanisms to resist eradication and prolong disease-causing effects, exists.
    <p>
        By amassing and analysing multitudes of research that surveys the "active" non-coding regions of MTb divided into various environmental conditions, Stiens,J. et al 2022 are able to suggest associations between the non-coding section and the environment.
    </p>

    <p>
        You will notice these genetic regions are differentiated into four groups on this website. sRNA: Wide range of non-coding small transcripts are thought to have some regulatory effects on protein coding regions. UTR: Non-coding Transcripts that sandwich a protein coding region and exert regulatory influence. CDS: DNA region that will undergo a series of chemical altercations to produce a protein. Annotated ncRNA: Non-coding transcripts with known functions. As a whole, these are referred to as "elements" and grouped into modules via statistical analysis to cluster elements most closely related. These modules are identified through colour hexcodes. The strength of an element associated with others within their module is quantified by the maxis match "mm". The network hunt feature allows you to filter elements through the mm.
    </p>


</div>
<br>
<br>

<br>
<br>




{% endblock%}